watch_file .tool-versions

asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf plugin add pnpm https://github.com/jonathanmorley/asdf-pnpm.git

asdf install | sed '/is already installed/d'

use asdf

PATH_add bin


export OPENAI_API_KEY="op://dev/hft7psmabaxcxilwalclcjrnqa/credential";

DB="op://dev/4c5saltjh5uophhgzwhh5xpjuy"
export PGUSER="${DB}/username"
export PGPASSWORD="${DB}/password" 
export PGHOST="${DB}/server"
export PGDATABASE="${DB}/database"
export PGPORT="${DB}/port"
