watch_file .tool-versions

asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf plugin add pnpm https://github.com/jonathanmorley/asdf-pnpm.git

asdf install | sed '/is already installed/d'

use asdf

PATH_add bin

export OPENAI_API_KEY="op://dev/hft7psmabaxcxilwalclcjrnqa/credential";
